<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add a Review!</title>
		<style>
			label {
				display: block;
				width: 150px;
			}
		</style>
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<h1>Welcome, {{ alias }}!</h1>
				<a href="/">Home</a>
				<a href="/logout">Logout</a>
				<hr>
			</div>
			<div id="content">
				<fieldset>
					<form action="/books/process_review" method="post">
						{% csrf_token %}
						<label for="title">Book Title<input type="text" name="title"></label>
						<label for="author">Author
							{% if authors %}
							Choose from the list: <select name="known_author">
								{% for author in authors %}
								<option value="{{ author }}">{{ author }}</option>
								{% endfor %}
							</select>
							{% endif %}
							Or add a new author<input type="text" name="author">
						</label>
						<label for="review">Review:<textarea name="review" rows=8 cols = 60></textarea></label>
						<label for="rating">Rating:
							<select name="rating">
								<option value="5">5</option>
								<option value="4">4</option>
								<option value="3">3</option>
								<option value="2">2</option>
								<option value="1">1</option>
							</select>
						</label> out of 5
						<button type="submit">Add Book and Review</button>
					</form>
				</fieldset>
			</div>
		</div>
	</body>
</html>
